body {
  font-size: 120%;
  font-family: Arial;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(77,77,77,1) 100%);
  margin-top:20px;

}

button, input {
  font-size: 100%;
  font-family: Arial;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
  background-color: #eeeeee;

}

.total span {
  color:rgb(184, 184, 184);
    font-size: 42px;

}
.total {
  padding:10px;
  color:#eeeeee;
  background-color: #900000;
  font-size: 38px;
  text-decoration: none;
  
}
.form {
  margin-top: 25px;
  width: 100%;
}
.form .fa-plus{
  color:rgb(4, 133, 0);
}
.form .fa-minus{
  color:rgb(133, 0, 0);
}
.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
